body {
  background-color: white;
  font-family: "Courier New", Courier, monospace;
}
.todo-item:hover .trash {
  display: block;
}
#loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f8f9fa;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

#loading-overlay .spinner {
  width: 50px;
  height: 50px;
  border: 3px solid #ccc;
  border-top-color: #333;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
